html, body
{
	height: 100%;
}

.span12 { text-align: center; }

.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

.wrapper > .container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

.page-header { padding-bottom: 5px; }

/* Space out sub-sections more */
section { padding-top: 20px; }

.push
{
	height: 60px;
}

footer
{
	color: #666;
	background: #222;
	height: 60px;
	text-align: center;
	padding-top: 10px;
}

#reviewpost .row .span2 { padding-bottom: 15px; }

/*splitters between the homepage content */
.splitter {
border-top: 1px solid #DDD;
}

/*sub headings in the homepage*/
p.sub-heading, p.sub-heading {
font-style: italic;
color: #777;
font-size: 15px;
font-family: Georgia, serif;
}


/*logo in header */
.navbar .brand {
float: left;
display: block;
/*padding: 15px 15px 10px;*/
margin-left: -15px;
font-size: 20px;
color: white;
}
.navbar .nav > li > a {
	line-height: 29px;
}
#topbar_logo{
	margin-top: -8px;
}


/* Search in navbar + plus search icon */
.navbar-search
{
    position: relative;
}
  
.navbar-search .search-query
{
    padding-left: 29px;
}

.navbar-search .icon-search
{
    position: absolute;
    top: 11px;
    left: 16px;
    background-image: url( "/img/glyphicons-halflings-white.png" );
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused
{
    padding-left: 30px;
}

.search-query:focus + .icon-search
{
    background-image: url( "/img/glyphicons-halflings.png" );
}


/* ADMIN PAGE - Makes font red and 56px*/
.admin
{
	color:#cf333d;
	font-size:56px;
	padding:15px 5px;
}

/* ABOUT US - Makes Names in About Us Red*/
.make-red
{
color:#cf333d;
}




/* Post page validation styles */
label.valid
{
	width: 24px;
	height: 24px;
	background: url( "/img/valid.png" ) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error
{
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

@media (max-width: 767px)
{
	.wrapper .container { padding-top: 0; }
	footer { margin-left: -20px; margin-right: -20px; }
	footer .container { padding-left: 20px; padding-right: 20px; }
}

@media (max-width: 979px)
{	
	.wrapper .container { padding-top: 0; }
	footer { position: static; }
	.navbar .brand { padding-left: 10px; margin-left: 0px; }
	.navbar-search .icon-search { top: 15px; left: 25px; }
}

@media (min-width: 980px)
{	
	.navbar-search .icon-search { top: 10px; left: 16px; }
	.navbar-search { padding-top: 4px; padding-left: 5px; }
}

@media (min-width: 1200px) { }
