
/*html, body { background-image:url( '../img/dark_wood.png' ); }*/
/*.container { background-color:#fff; }*/
.container > footer p { text-align:center; }
/*footer { border:none; margin:1em; }*/

/*.navbar .nav > li > a
{
	color: #fff;
}

.navbar-inner
{
	background-color: #e03a3e;
	background-image: -webkit-linear-gradient(top, #e03a3e, #AD1D28);
	background-image: -o-linear-gradient(top, #e03a3e, #AD1D28);
	background-image: linear-gradient(top, #e03a3e, #AD1D28);
}*/


